$color__background-header: #262626;
$color__background-footer: #282828;
$color__background-bottom: #222;
$color__background-post: #f6f6f6;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fcc400;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-paragrap: #666;
$color__text-footer-comming-soon: #888888;
$color__text-menu: rgba(255, 255, 255, 0.902);
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #fcc400;
$color__footer: #eee;
$color__text-main: #222;
$color__text-page-active: #888;
$color__text-title: #222;
$color__text-excerpt: #666;
$color__text-info-post: #999;
$color__border-pagination: #e5e5e5;
$color__border-button: #fcc400;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__box-shadow: rgba(0, 0 ,0 , 0.5);
$color__border: #ddd;