.error-404{
	text-align: center;
	.error-404__title{
		font-size: 72px;
		margin-bottom: 10px;
	}
	.error-404__subtitle{
		font-size: 30px;
		margin-top: 10px;
	}
	.error-404__button{
		display: inline-block;
		border: 1px solid transparent;
		font-weight: 600;
		text-align: center;
		cursor: pointer;
		color: $color__link-hover;
		background-color: $color__background-bottom;
		padding: 10px 30px;
	}
}