.form-contact{
	p{
		overflow: hidden;
	}
	.full-name{
		width: 48%;
		float: left;
	}
	.e-mail{
		width: 48%;
		float: right;
	}
	textarea{
		height: 200px;
	}
	input[type="text"], input[type="email"],textarea{
		margin: 10px 0 30px 0;
	}
	input[type="submit"]{
		width: 48%;
		padding: 15px 0;
	}

}
:placeholder{
	font-size: 14px;
	font-family: $font__main;
}