.site-footer{
	.site-info{
		text-align: center;
		padding: 70px 0;
		color: $color__footer;
		.widget{
			margin: 0;
		}
		p{
			font-size: 12px;
			margin: 5px 0;
			line-height: 1.692;
		}
		ul{
			list-style-type: none;
			padding: 0;
			line-height: 0.6;
			margin-top: 15px;
			li{
				display: inline-block;
				margin-right: 20px;
				a{
					color: $color__footer;
					font-size: 21px;
				}
				a:hover{
					color: $color__link-hover;
				}
			}
		}
	}
	.bottom-footer{
		padding: 20px;
		color: $color__footer;
		.copyright{
			display: flex;
			justify-content: space-between;
			.copy-right{
				float: left;
				span{
					color: $color__link-hover;
				}
			}
			.menu-footer{
				float: right;
				ul{
					list-style-type: none;
					padding: 0;
					li{
						display: inline-block;
						a{
							color: $color__footer;
						}
						&:not(:last-child){
							margin-right: 10px;
						}
						&:not(:last-child):after {
							content: '/';
							display: inline-block;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

